html, body {
  height: 100%;
  font-family: $font-family;
  color: $color-text;
  background: $color-bg;  
  margin: 0;
  padding: 0;
}


.site-header {
  background: linear-gradient(90deg, darken($color-primary, 10%), darken($color-primary,16%));
  color: #fff;
  padding: 1rem 0;
}

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 1rem;
}

.bet-card {
  background: $color-card; 
  border-radius: $radius;
  box-shadow: $shadow;
  padding: 1rem;
  margin-bottom: 1rem;
}
