.caja{
   
    h2{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    p{
        font-family: 'Courier New', Courier, monospace;
        text-decoration: underline;
    }
}

